


.quantity label.plus:before{
	color:black;
}

.woocommerce .quantity .qty{
	color:black;
}
#quantity_65a6896766f3e{
	color:black;
}
.woocommerce-product-gallery .product-photoswipe-btn a:before{
	color:black;
}


#quantity_65a6832b38706{
	color:black;
}

.pls-sticky-product-title{
	color:black;
}
.woocommerce-Price-amount amount{
	color:black;
}

.woocommerce-Price-currencySymbol{
	color:black;
}
.pls-sticky-product-info span.price del{
	color:black;
}

.woocommerce .widget_shopping_cart{
	background-color:black;
}

.quantity label.minus:before{
	color:black;
}